@font-face {
  font-family: "Noir";
  src: url("../../public/fonts/FilmNoir-6YY8v.ttf") format("truetype");
}
@font-face {
  font-family: "Film";
  src: url("../../public/fonts/Filmgraph-nRWyY.ttf") format("truetype");
}
@font-face {
  font-family: "Cinema";
  src: url("../../public/fonts/CinemaGroovyRegular-d9W1g.otf")
    format("opentype");
}
@font-face {
  font-family: "Thin";
  src: url("../../public/fonts/PromenadedelacroisetteReg-BWLLG.otf")
    format("opentype");
}

body {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: black;
}

.navbar {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  position: relative;
  top: 2rem;
  z-index: 1;
}

.navbar .menu-btn {
  background-color: transparent;
  color: #8B4513 ;
  padding: 10px;
  font-family: Pacifico cursive;
  font-size: small ;
  text-decoration: none;
  position: relative;
}
.home {
  position: relative;
  background-image: url("../../public/new_new_desp.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.heading {
  color: transparent;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
  color: #8B4513;
  font-size: 13.5rem;
  letter-spacing: 0.5rem;
  background-color: transparent;
  z-index: 2;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bg_heading {
  left: 50%;
  transform: translate(0%, 75%);
  font-family: "Noir";
  text-align: center;
  font-weight: lighter;
  -webkit-text-stroke: 0.25px whitesmoke;
  text-stroke: 5px black;
  font-size: 15.5rem;
  letter-spacing: 2.5rem;
  color: transparent;
  z-index: 2;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.heading:hover {
  background-size: 100% 200%;
}
.subhead {
  /* color: whitesmoke; */
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Thin";
  text-align: center;
  font-weight: normal;
  font-size: 2.5rem;
  letter-spacing: .5rem;
  background-color: transparent;
  z-index: 2;
}

.about {
  background-color: black;
  color: white !important;
}

.award {
  width: 15rem;
  height: 7.5rem;
  z-index: 1;
}